*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(2,37,78,1) 0%, rgba(4,56,126,1) 19.7%, rgba(85,245,221,1) 100.2% );
    
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.cart{
    height: 400px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(29,217,206);
    background: linear-gradient(90deg, rgba(29,217,206,1) 0%, rgba(79,171,244,1) 50%, rgba(4,46,125,1) 100%);
    ;
    border: 3px solid black;
    border-radius: 20px;
}
.cart h4{
    text-decoration: underline;
    margin-bottom: 8px;
}
.cart h6{
    font-size: 15px;
    margin-bottom: 8px;
    
}
.cart p{
    font-size: 13px;
    margin-bottom: 8px;
}
.cart button{
    height: 30px;
    width: 90px;
    background: rgb(69,82,181);
    background: radial-gradient(circle, rgba(69,82,181,1) 0%, rgba(7,9,98,1) 100%);
    color: white;
   border-radius: 15px;
   border: none;
   margin-bottom: 8px;
   /* line-height: 20px; */

}
.cart i{
    font-size: 30px;
    padding-inline: 40px;
}
